<h1>Make your form here</h1>
<input method="post" action="/pirates" />
<label>Pirate Name: <input type="text" name="pirates[name]" /></label>
<label>Pirate Weight: <input type="text" name="pirates[weight]" /></label>
<label>Pirate Height: <input type="text" name="pirates[height]" /></label>
<label>Pirate Ship: <input type="text" name="pirates[ships][][name]" /></label>
<label>Pirate Ship Type: <input type="text" name="pirates[ships][][type]" /></label>
<label>Pirate Ship Booty: <input type="text" name="pirates[ships][][booty]" /></label>
